<!-- app/views/main2/display_news_with_keyword.html.erb -->
<h1>表示2</h1>

<h2>興味のあるカテゴリ and 興味のあるキーワード</h2>
<ul>
  <% @good_news.each do |news| %>
    <li>
    <h3><%= news['Category'] %></h3>
        <h4><%= news['Title'] %></h4>
        <p><%= news['Description'] %></p>
        <a href="<%= news['URL'] %>">詳細を見る</a>
    </li>
  <% end %>
</ul>

<h2>興味のなしカテゴリ and 興味のあるキーワード</h2>
<ul>
  <% @bad_news.each do |news| %>
    <li>
    <h3><%= news['Category'] %></h3>
        <h4><%= news['Title'] %></h4>
        <p><%= news['Description'] %></p>
        <a href="<%= news['URL'] %>">詳細を見る</a>
    </li>
  <% end %>
</ul>